
<h1>edit your profile</h1>

<form action="/auth/profile" method="post">
  <label>Username</label>
  <input type="text" name="username"  value="<%= user.username %>" required />

  <label>Email</label>
  <input type="email" name="email"  value="<%= user.email %>" required />

  <label>Phone number</label>
  <input type="number" name="phone"  value="<%= user.phone %>" required />

  <button type="submit">Edit</button>
</form>