<head>
  <link rel="stylesheet" href="/stylesheet/signup.css">
</head>
<body>
  <form action="/auth/sign-up" method="post" enctype="multipart/form-data">
    <label for="username">Username:</label>
    <input type="text" name="username" />
    <br /><br />
    <label for="email">Email:</label>
    <input type="email" name="email" />
    <br /><br />
    <label for="phone" name="phone">Phone:</label>
    <input type="number" name="phone" />
    <br /><br />
    <label for="password">Password:</label>
    <input type="password" name="password" />
    <br /><br />
    <label for="confirmPassword">Confirm Password:</label>
    <input type="password" name="confirmPassword" />
    <br /><br />
    <label for="profileImage">Choose a Profile Picture:</label>
    <input type="file" name="carImage" accept="image/*" value="" />
    <br />
    <button type="submit">Sign Up</button>
  </form>
</body>