<% if (user) {%>
<h1>RouteExplorer</h1>
<a href="/auth/profile">Edit Profile</a>
<a href="/cars">View Cars</a>
<a href="/cars/new">List a Car</a>
<a href="/rentals">My Rentals</a>
<a href="/auth/sign-out">Sign out</a>
<%} else {%>
<h1>RouteExplorer</h1>
<a href="/auth/sign-up">Sign up</a>
<a href="/auth/sign-in">Sign in</a>
<%}%>
