@import url('https://fonts.googleapis.com/css2?family=Fredoka:wdth,wght@105,300..700&family=Londrina+Shadow&family=Orbitron:wght@400..900&family=Oswald:wght@200..700&family=Pacifico&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Oswald', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f5e7;
}

h1 {
  text-align: center;
  color: darkgray;
}

form {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid lightgray;
  background-color: white;
  border-radius: 5px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid gray;
  border-radius: 3px;
}

button {
  background-color: #e0be008d; 
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 4px;
  width: 100%;
  margin-top: 10px;
}
button:hover {
  background-color: #E0BF00; 
}
