<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/index-style.css" />
    <title>RouteExplorer</title>
    <body class="index-body">
    <%- include('./partials/_navbar.ejs') %>
    <div class="index-container">
      <div class="text-container">
        <p class="subheader">Keys to Your Journey, Ready When You Are!</p>
      </div>
    </div>
  </body>
</html>


